body {
	text-align: center;
	background:#080821;
}
.wrapper{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.progress {
    margin: 30px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.toggle-btn, .toggle-btn1, .toggle-btn2, .toggle-btn3{
	width: 90px;
	height: 50px;
	background: gray;
	border-radius: 30px;
	padding:5px;
	transition: all 300ms ease-in-out;
}
.toggle-btn > .inner-circle, .toggle-btn1 > .inner-circle, .toggle-btn2 > .inner-circle, .toggle-btn3 > .inner-circle{
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius:50%;
	transition: all 300ms ease-in-out;
}
.toggle-btn.active{
	
	background: #2169f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 0.5s;
}
.toggle-btn1.active{
	
	background: #f3219c;
	box-shadow: 0 0 10px #f3219c, 0 0 40px #f3219c, 0 0 80px #f3219c;
	transition-delay: 0.5s;
}
.toggle-btn2.active{
	
	background: #21ecf3;
	box-shadow: 0 0 10px #21ecf3, 0 0 40px #21ecf3, 0 0 80px #21ecf3;
	transition-delay: 0.5s;
}
.toggle-btn3.active{
	background: #a3f321;
	box-shadow: 0 0 10px #a3f321, 0 0 40px #a3f321, 0 0 80px #a3f321;
	transition-delay: 0.5s;
}
.toggle-btn.active>.inner-circle,.toggle-btn1.active>.inner-circle,.toggle-btn2.active>.inner-circle,.toggle-btn3.active>.inner-circle{
	margin-left: 40px;
}
.icon1{	
	color: #fff;
	margin: 10px auto;
}

.btn-group button {
	background-color: 	#06062b; /* Green background */
	border: 1px solid 	#0f041b ; /* Green border */
	color: white; /* White text */
	font-size: 20px;
	font-style:italic;
	padding: 10px 24px; /* Some padding */
	margin-top: 50px;
	cursor: pointer; /* Pointer/hand icon */
	/*float: left; /* Float the buttons side by side */
	border-radius: 10px;
	box-shadow: 5px 5px black;
	margin-right: 30px;

	
	

  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
	margin-right: 30px;
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background: linear-gradient(109.6deg, rgb(80, 35, 217) 11.2%, rgb(217, 35, 189) 91.1%);
  }

  i.fa-solid.fa-fan {
    font-size: 80px;
	padding-bottom: 10px;
}

i.fa-solid.fa-lightbulb{
	font-size: 80px;
	padding-bottom: 10px;
}

i.fa-solid.fa-temperature-arrow-up{
	font-size: 80px;
	padding-bottom: 10px;
}

i.fas.fa-4x.fa-tv{
	font-size: 80px;
	padding-bottom: 10px;
}

.text-center {
	text-align: center;
	color:white;
	padding-top: 35px;
  }

  .subb{
	font-size: 25px;
	color:#17A589;
	 float: left;
	 padding-left: 90px;
	 font-family:Comic Sans MS;
     margin-top:90px ;
  }

  
  *,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px rgb(53, 52, 52);
    position: fixed;
    width: 100%;
    background: rgb(177, 173, 173);
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 1.8rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}